extends layout

block content
  h1.section-title #{title}
  div.categories-container
    ul.categories
      li Categories:
      li.categories-video Video
      li.categories-tutorial Tutorial
      li.categories-article Article
      li.categories-stackoverflow StackOverflow
      li.categories-github GitHub
      li.categories-other Other
  ul.list-group
    each link, i in links
      - var panelCategory = ''
        if link.category == 'Video'
          -panelCategory = 'panel-category-video'
        else if link.category == 'Tutorial'
          -panelCategory = 'panel-category-tutorial'
        else if link.category == 'Article'
          -panelCategory = 'panel-category-article'
        else if link.category == 'StackOverflow'
          -panelCategory = 'panel-category-stackoverflow'
        else if link.category == 'GitHub'
          -panelCategory = 'panel-category-github'
        else if link.category == 'Other'
          -panelCategory = 'panel-category-other'
      div.panel.panel-default(class=panelCategory)
        div.panel-heading
          h3.panel-title= link.title
          div.panel-under-title
            p Submitted by #{link.submitter} on #{link.submissionDate}
            if user && user.name == link.submitter
              a.delete-article(href="#" data-id=link._id) Delete
        div.panel-body
          a.panel-link-url(href=link.url target='_blank')= link.url


