extends layout

block content
  div.form-group.search-container
      input(type="text" class="form-control search-bar" placeholder="Search...")
  div.categories-container
    ul.categories
      li Categories:
      li.category.category-video Video
      li.category.category-tutorial Tutorial
      li.category.category-article Article
      li.category.category-stackoverflow StackOverflow
      li.category.category-github GitHub
      li.category.category-reddit Reddit
      li.category.category-other Other

  ul.list-group
    each link, i in links
      - var panelCategory = 'panel-category-' + link.category.toLowerCase()
      div.panel.panel-default(class=panelCategory)
        div.panel-heading
          h3.panel-title= link.title
          div.panel-under-title
            p Submitted by #{link.submitter} on #{link.submissionDate}
            if user && user.name == link.submitter
              div.panel-edit-delete
                a.edit-article(href='/links/edit/'+link._id) Edit
                p /
                a.delete-article(href="#" data-id=link._id) Delete
        div.panel-body
          a.panel-link-url(href=link.url target='_blank')= link.url


