extends layout

block content
  h1.section-title
    strong #{title}
  div.categories-container
    ul.categories
      li Categories:
      li.category.categories-video Video
      li.category.categories-tutorial Tutorial
      li.category.categories-article Article
      li.category.categories-stackoverflow StackOverflow
      li.category.categories-github GitHub
      li.category.categories-other Other
  ul.list-group
    each link, i in links
      - var panelCategory = 'panel-category-' + link.category.toLowerCase()
      div.panel.panel-default(class=panelCategory)
        div.panel-heading
          h3.panel-title= link.title
          div.panel-under-title
            p Submitted by #{link.submitter} on #{link.submissionDate}
            if user && user.name == link.submitter
              a.delete-article(href="#" data-id=link._id) Delete
        div.panel-body
          a.panel-link-url(href=link.url target='_blank')= link.url


